<aside>
  <div>
    <ul>
      <li  routerLinkActive="active">
        <a routerLink="/dashboard">
          <i class="fas fa-chart-line"></i> Dashboard
        </a>
      </li>
      <li  routerLinkActive="active">
        <a routerLink="/employeeForm">
          <i class="bi bi-people-fill"></i> Employees Form
        </a>
      </li>
      <li  routerLinkActive="active">
        <a routerLink="/home">
          <i class="fas fa-home"></i> Home
        </a>
      </li>
      <li  routerLinkActive="active">
        <a routerLink="/about">
          <i class="fas fa-info-circle"></i> About
        </a>
      </li>
      <li  routerLinkActive="active">
        <a routerLink="/contact">
          <i class="fas fa-envelope"></i> Contact
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/newuser">
          <i class="fas fa-user-plus"></i> New User 
        </a>
      </li>
      <li  routerLinkActive="active">
        <a routerLink="/exituser">
          <i class="fas fa-user-check"></i> Exiting User 
        </a>
      </li>

      <!-- Admin Module with Dropdown -->
      <!-- <li (click)="toggleAdminDropdown()" style="cursor: pointer;">
        <a>
          <i class="fas fa-user-shield"></i> Admin 
          <i class="fas" [ngClass]="{'fa-chevron-down': !isAdminDropdownOpen, 'fa-chevron-up': isAdminDropdownOpen}"></i>
        </a>
      </li>
      <ul *ngIf="isAdminDropdownOpen" style="list-style: none; padding-left: 20px;">
        <li routerLinkActive="active">
          <a routerLink="newUser"> 
            <i class="fas fa-user-plus"></i> New User
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="existingUser"> 
            <i class="fas fa-user-check"></i> Existing User
          </a>
        </li>
      </ul> -->
       <!-- Admin Module with Dropdown -->
        
    </ul>
  </div>
</aside>
