/* Active link styling */
.active {
  background-color: #adb1b5;
  color: #ffffff;
}

/* Admin Module nested items styling */
aside ul ul li a.active {
  background-color: #868a8e; /* Adjust this to differentiate nested items */
  color: #ffffff;
}
